@page
@model M_Chat.UI.Pages.Cuestionarios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cuestionario[0].Fecha_aplicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cuestionario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_aplicacion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CuestionarioId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CuestionarioId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CuestionarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
