@page
@model M_Chat.UI.Pages.HomePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Contraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Fecha_Nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Curp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tutor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curp)
            </td>
            <td>
                <a asp-page="./EditUser" asp-route-id="@item.TutorId">Edit</a> |
                <a asp-page="./DetailsUser" asp-route-id="@item.TutorId">Details</a> |
                <a asp-page="./DeleteUser" asp-route-id="@item.TutorId">Delete</a>
                <a asp-page="./DeleteUser" asp-route-id="@item.TutorId">Aplicar</a>
            </td>
        </tr>
}
    </tbody>
</table>
