@page
@model M_Chat.UI.Pages.Diagnosticos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diagnostico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico.Resultado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico.Resultado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico.Infante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico.Infante.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico.Cuestionario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico.Cuestionario.CuestionarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Diagnostico.DiagnosticoId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
